<%- include('partials/header') %> 

<h1>Home</h1>

<% posts.forEach(post => { %>
    <h4><%= post.title %> </h4>
    <% const x = post.body.substring(0, 99) %>
    <p><%= x %>... <a href="/posts/<%= post.title %>">Read More</a></p>
<% }) %> 

<%- include('partials/footer') %> 