<%- include('partials/header') %> 

<h1>Home</h1>

<% posts.forEach(post => { %>
    <div class="panel panel-default">
        <h4><%= post.title %> </h4>
        <% const postBody = post.body.substring(0, 99) %>
        <p><%= postBody %>... <a href="/posts/<%= post._id %>">Read More</a></p>
    </div>
<% }) %> 

<%- include('partials/footer') %> 